body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.options a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: color 0.3s; /* Agregar efecto de transición */
}

.options a:hover {
  color: rgba(0, 86, 179, 0.2); /* Cambiar el color al pasar el cursor */
}

main {
  margin: 20px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

th,
td {
  border: none; /* Quitar bordes */
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #ddd;
}

.edit-button,
.delete-button,
.task {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.edit-button {
  background-color: #007bff;
}

.delete-button {
  background-color: #ff0000;
}

.task {
  background-color: rgb(38, 141, 43);
}

.form-group {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
}

label {
    display: block;
    margin-right: 15px;
}

select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#order {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px 0;
}

#order:hover {
  background-color: #0056b3;
}
